In [2]:
import pandas as pd

In [4]:
data=pd.read_csv("..\\csv_data\\MSASL_test.csv")

In [5]:
data

,org_text,clean_text,start_time,signer_id,signer,start,end,file,label,height,fps,end_time,url,text,box,width,review
0,beer,beer,0.0,20.0,40.0,0.0,59.0,SignSchool Beer var,805.0,360.0,29.970,1.969,www.youtube.com/watch?v=wX78EPtSuzU,beer,0.046787,640.0,NaN
1,enjoy,enjoy,0.0,11.0,39.0,0.0,54.0,enjoy(1),192.0,360.0,29.970,1.802,www.youtube.com/watch?v=OL02Odh2dRg,enjoy,0.071451,480.0,NaN
2,emotional,emotional,0.0,20.0,40.0,0.0,30.0,SignSchool Emotional,907.0,360.0,23.976,1.251,www.youtube.com/watch?v=C59jcSo4fEI,emotional,0.059554,640.0,NaN
3,key,key,0.0,92.0,-1.0,0.0,37.0,SignSchool Key,456.0,360.0,23.976,1.543,www.youtube.com/watch?v=Qs2ua1S6tg0,key,0.114629,640.0,NaN
4,bad,bad,0.0,11.0,39.0,0.0,36.0,BAD,81.0,360.0,29.970,1.201,www.youtube.com/watch?v=-kgTBeOw95A,bad,0.040453,480.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4170,flag,flag,0.0,11.0,39.0,0.0,50.0,FLAG,653.0,360.0,29.970,1.668,www.youtube.com/watch?v=wX3nAn_EbyQ,flag,0.039640,480.0,NaN
4171,pain,hurt,0.0,11.0,39.0,0.0,49.0,PAIN,76.0,360.0,29.970,1.635,www.youtube.com/watch?v=PUeBxtWPPFw,hurt,0.106082,480.0,NaN
4172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.163195,NaN,NaN
4173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
4174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.839355,NaN,NaN

In [6]:
data.describe()

,start_time,signer_id,signer,start,end,label,height,fps,end_time,box,width,review
count,4172.000000,4172.000000,4172.000000,4172.000000,4172.000000,4172.000000,4172.000000,4172.000000,4172.000000,4175.000000,4172.000000,800.0
mean,68.141974,47.976510,19.357383,2041.918025,2110.314238,396.544104,569.597315,29.294977,70.479537,0.087417,974.812081,1.0
std,93.214288,68.042799,14.709886,2794.521657,2803.896187,284.425272,177.571273,2.318141,93.487180,0.072993,354.681797,0.0
min,0.000000,9.000000,-1.000000,0.000000,17.000000,0.000000,360.000000,15.000000,0.709000,0.000000,360.000000,1.0
25%,0.000000,20.000000,8.000000,0.000000,63.000000,146.000000,360.000000,29.970000,2.137000,0.034999,640.000000,1.0
50%,34.931500,26.000000,20.000000,1042.000000,1110.000000,349.000000,720.000000,29.970000,37.233500,0.075185,1280.000000,1.0
75%,100.166500,34.000000,29.000000,3001.750000,3091.500000,621.000000,720.000000,29.970000,103.152750,0.125661,1280.000000,1.0
max,556.556000,441.000000,73.000000,16680.000000,16761.000000,999.000000,720.000000,30.796000,559.259000,1.000000,1280.000000,1.0